.acf-field-color-palette .iris-picker-inner {
  display: none;
}
.acf-field-color-palette .iris-picker {
  display: inline-block !important;
  height: auto !important;
  padding: 7px !important;
  width: auto !important;
}
.acf-field-color-palette .iris-picker[style*='display: none'],
.acf-field-color-palette .iris-picker[style*='display:none'] {
  display: none !important;
}
.acf-field-color-palette .iris-palette-container {
  overflow: hidden !important;
  position: static !important;
}
.acf-field-color-palette .iris-palette {
  height: 24px !important;
  margin: 3px !important;
  width: 24px !important;
}
.acf-field-color-palette .wp-picker-container .wp-color-result.button {
  min-height: 26px;
  padding: 0 0 0 17px;
}
